/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background:#25201C;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
  }

.main, .about, .portfolio, .contact, .footer{

  padding-left:8.8rem;
}



p{
  line-height:2.2rem;
  
}

span, p{
  color:#C4C4C4;
  font-size: 24px;
}

.line{
  border:2px solid #C4C4C4;
  width:2.5rem;
  margin-top:-1rem;
}

a:hover{
  cursor:pointer 
}

a{
  text-decoration: none ;
}

:root {
  --orange: #FF7222;
  --grey:#C4C4C4;
}

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/******************************************
/* LAYOUT
/*******************************************/

/* nav bar */
header {

 height:100%;
 width:4%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
  color:white;
  background:black;
 position:fixed;

}

.nav-bar{
  height:100%;
}
.logo--container{
  height:10%;
  display:flex;
  align-items: center;
  width:70%;
  
}
.logo{
  background:var(--orange);
  margin-left:3rem;
  border-radius: 50%;
  width:35%;
  height:2rem;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
 

}
ul{
  display:flex;

  flex-direction: column;
  gap:2rem;
  width:10rem;
  height:70%;
  align-items: center;
  justify-content: center;
  margin-left:-2rem;




}
li{
 
  height:2rem;
  list-style: none;;
  display: flex;
  width:20%;
  gap:1.5rem;
  transition: 4s ease-in;

 

}



ul i{
  color:white; padding-bottom:.8rem;
}


li span{
 
  opacity: 0;
  transition: 1s ease-in-out;
  text-shadow: -1px -1px 0 var(--orange), 1px -1px 0 var(--orange), -1px 1px 0 var(--orange), 1px 1px 0 var(--orange);
 
}

.vertical-line{
  height:20%;
  border:2px solid white;
  width:1%;
  margin-left:3.8rem;
}
/* shows current page on navbar */
.current{

  border-bottom:2px solid white;
  color:var(--orange);
}




li:hover span{
  opacity:1;

}




li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
 
}



li a:hover::after {
  width: 100%;
  transition: width .3s;
}

li a:hover,
li a.active{
  transition: 0.5s ease-out;
}

.close-open{
  display:none;
}



/* main */
main{
  position:relative;
  width:95%;
  height:100vh;
  /* padding-left:6rem; */
  display:flex;
  align-items: center;
  gap:3rem;
  
  
  
}


main *{
  margin-top:.3rem;
}

main img{
  width:20rem;
  border-radius: 50%;;
}



span > span {
  font-family: 'Grape Nuts', cursive;
  font-size: 2rem;
}
main p{
  
  width:80%;
  margin-top:1.5rem;
 
}
 
 .text{
   /* position:absolute; */
  font-size: 45px;
  color:var(--orange);
  height:2.7rem;
  /* border:1px solid green; */


} 
h1 span, h2{
  color:var(--orange);
}


.h1-container{

  color:white;
  height:3rem;
  
}


/* animated text */
.text{
  display:inline-block;
}

.cursor{
  animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}

/* about */
.about{
  width:95%;
  padding-top:5rem;
  padding-bottom:5rem;
  animation: fadeInAnimation ease 6s;
  display: flex;
  flex-direction: column;
}

.about > div{
  display: flex;
}

.about div > p{
  width:95%;
  font-size:1.4rem;

}
h2{
  font-size: 30px;
}

.skills{
  border-top:1px solid var(--grey);
  border-bottom:1px solid var(--grey);
  display: flex;
  justify-content: center;
  gap:2rem;
  margin-bottom:3rem;
  margin-top:2rem;
  padding:2rem 0;
  width:95%;
}

.skills img{
  width:2rem;
  height:2.3rem;
}

.skills :nth-child(1) img{
  width:25rem;
}

/* portfolio */

.porfolio{
  padding-top:-2rem;
  padding-bottom:4rem;
  


}

.projects{
  display:flex;
  width:89%;
  flex-wrap:wrap;
  margin-top:4rem;
  padding-bottom:6rem;
 
  

}

.project-1{
  border:1px rgb(136, 136, 136) solid;
  width:50%;
  padding-bottom:3rem;
  

}

.projects :nth-child(1),
.projects :nth-child(2){
  border-top:none;
}

.projects :nth-child(2n){
  border-right:none;
}

.projects :nth-child(2n+1){
  border-left:none;
  
}

.project-title{
  color:var(--grey);
  font-size: 1.3rem;;
}

.project--des{
  font-size:1rem;
}
.manea, .ricknmorty{
  padding-right:2rem;
}


.soulful, .taxi{
  padding-left:2rem;
}



.projects img{
  max-width:100%;
  height:17rem;

}

.visit{
  background:var(--orange);
  padding:.4rem .7rem;
  border-radius: 4%;
  color:black;
}

.visit:hover, .contact--submit-btn:hover{
  background-color: #6f3311;
  cursor: pointer;
}


 /* contact */

.contact{
  animation: fadeInAnimation ease 6s;
  transition: 4s ease-in;
  margin-top: 0 !important;
  display:flex;
  gap:2rem;


}

.contact-info-p{
  font-size: 2rem;
  line-height:2.5rem
}
.contact-info{
  width:40%;

}

.contact--icons{
  display: flex;
  gap:1rem;
}
.contact--icons img {
  width:2.5rem;
  
}

.contact-form{
  width:47%;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom:8rem;
}

form{
  width:70%
}

input[type=text], textarea{
  width:50%;
  font-size: 1.25rem;
  width: 100%; /* Full width */
  padding: 0.75rem; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: .25rem; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: .375rem; /* Add a top margin */
  margin-bottom: 1rem; /* Bottom margin */
  resize: vertical

}

label{
  color: var(--grey) ;
}



.contact--submit-btn{
  width:6rem;
  padding:.5rem;
  background:var(--orange);
  border-radius: 8%;
  border:none;
  justify-self: flex-end;
  

}



/* #textarea{
  max-width: 70%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: 1px solid grey;
} */

.footer {

  height:5rem;
  background:black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media(max-width:1024px){
 

  .text{
    font-size:35px;
  }
}

@media (max-width:850px){
  header {

    height:100vh;
    width:10%;
   }

   .main{

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5rem;
  
   }

   .projects{
    display:flex;
    width:89%;
    flex-wrap:wrap;
    margin-top:2rem;
  }

  .projects img{

    height:12rem;
  
  }
  
}

@media(max-width:500px){
    body{
      overflow-x: hidden;
    }
   


  .togglenav{
    display: flex;
    gap:5rem;
    position: absolute;
  }
  .bars{
    
    color:white;
    transition: 1s  ease-in-out;
    opacity: 1;

    
  }

  .close-nav{
    color:white;
    position:absolute;
    left:1.5rem;
    opacity: 0;
    z-index: 8;
    transition: 1s  ease-in-out;

  }
  
  .close-open{
    z-index: 7;
    display:block;
    margin-top:1.2rem;
    margin-left:2rem;
    position: relative;
    font-size:1.6rem;
    transition: 1s  ease-in;
    position:fixed;
    top:0;
  }
  
 
    header {
      width:0;
      top:0;
      transition: width .8s ease-in, visibility 1s;
      z-index: 5;
      display: flex;
      flex-direction: row;
       color:white;
   
       position: relative;
       background:black;
       position:fixed;
     }

     header .nav-bar {
     
       opacity: 0;
       transition: opacity .7s ease-in
     }

     header.active{
      transition: width 1s ease-in, visibility 0s;
      visibility: visible;
     }

     .vertical-line {
      height: 12rem;
      border: 2px solid white;
      width: 0%;
     }

      li span{
    
        opacity: 1;
      }
      
      .nav-bar{
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    
        .logo{
          margin-top: 1rem;
        }

      

      .bars{
        z-index: 7;
      }



  /* main */
    main{
      position:relative;
      margin-left:0 !important;
      padding-left:3rem;
     
      gap:2rem !important;
      width:100% !important;
      
      
      
    }
    .main, .about, .portfolio, .contact.footer{
      /* margin-left:5%; */
     padding-left:3rem;
     }
    .main-info{
     
     
      width:90%;
     }
    main *{
      margin-top:.3rem;
    }

    .img-container{
      display: flex;
      justify-content: center;
    }
    main img{
      max-width: 70%;
    }



    main p{
    
      width:91%;
      margin-top:-1rem;
      font-size: 1.2rem;
    
    }
    
    .text{
      color:white;
      font-size: 1.7rem;
      color:#FF7222;
       height:1.68rem;
     
     } 

    
    h1 span, h2{
      color:var(--orange);
    }


    .h1-container{

      height:3rem;
    }

    .text{
      display:inline-block;
    }

    span, p{
      color:var(--grey);
      font-size: 1rem;
    }

    div > p {
      font-size: 1rem;
  }

    h2{
      margin-top:4rem;
    }
  /* portfolio */

    .porfolio{
      padding-bottom:5rem;
    }
    .projects {
      display: flex;
      flex-direction: column;
      width: 100%;
       flex-wrap: nowrap; 
       gap:2rem; 
       margin-bottom:5rem;
       
    } 

    .project-1{
      width:89%;
      border:none;
      border-bottom:var(--grey) 2px solid;
      padding-bottom:2rem;
      padding:2.5rem 0;
    }

    .project-1:nth-child(2){
      padding-left:0;
    }

    .projects img {

      height: 13rem;
    }

    .project-1:nth-child(4){
      border:none;
    }

    /* contact */

    .contact{
      overflow-x: hidden;
      padding:0 3rem;
      flex-direction: column;
    }

   

    form{
      width:100%;
    }

    .contact-info-p{
      font-size: 1.2rem;
      line-height:2.5rem
    }
    .contact-info{
      width:100%;
    
    }
    
    .contact-form{
      width:100%;
      display:flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  
    .footer{
      padding-left:0rem;
    }
}
   
  
  @media (max-width:420px){
  
      .projects img {

          height: 11rem;
        }
    }


  @media (max-width:375px){
    .close-open{
      margin-left: 1rem;
      display: flex;
      margin-left: 2px;
      left: 3rem;
    }

    main, .portfolio, .about, .contact{
      width:95%
    }
    }
    

  

  @media (max-width:360px){

    .projects img {

      height: 10rem;
    }

    .project-1{
      padding:1.8rem 0;
    }
  }